<section>
    <form action="/addParrot" method="POST" enctype='multipart/form-data' class='parrots'>
        <input type='file' placeholder="Upload image of parrot" name='parrotImage' id='file'>
        <input type='text' placeholder="Name of parrot" name='parrotName'>
        <input type='text' placeholder="Color of parrot" name='parrotColor'>
        <input type='text' placeholder="Parrot's natural habitat" name='naturalHabitat'>
        <input type='text' placeholder="Parrot's defining characteristic" name='definingCharacteristic'>
        <input type='submit' id='inputParrot' placeholder="Enter in parrot">
    </form>
</section>